
.navbar {
    background-color:white;
    
  }
  
.navbar a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }

.jumbotron {
  margin: 0;
  height: 94vh;
}

.navbar-nav {
      margin-left: auto;
  }

.nav-link {
      color: black;
  }

  .logo {
    font-size: 1.5em;
  }

.container1 {
      background-color: #FFB663;
      padding: 100px 0;
  }

.container2 {
    background-color: #6C63FF;
    padding: 100px 0;
}



.container-fluid h1 {
    text-align: center;
}

.containerR {
  align-items: initial;
}


.intro {
  margin-top: 100px;
}

.modal-header {
  background-color: #6C63FF;
  color: white;
}

.modal-footer {
  background-color: #FFB663;
}

.btn {
  background-color: #6C63FF;
}

.btn:hover {
  background-color: black;
}

.cards {
  

}

